@font-face {
  font-family: Gilroy;
  src: url("fonts/Gilroy-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

* body {
  font-family: Gilroy;
  background-color: #f0f0f0;
}

* body header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 1px 1px #f0f0f0;
          box-shadow: 2px 2px 1px 1px #f0f0f0;
  z-index: 1;
}

* body header .left-side h3 {
  font-size: 32px;
  margin-left: 120px;
}

* body header .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
}

* body header .right-side .balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 5px;
  border-right: 1px solid #ebebeb;
  padding: 10px 0;
}

* body header .right-side .balance p {
  margin: 0 20px;
  font-size: 22px;
  opacity: 50%;
}

* body header .right-side .balance h4 {
  margin: 0 20px;
  text-align: right;
  font-size: 25px;
}

* body header .right-side .img-cash {
  padding: 15px;
  border-right: 1px solid #ebebeb;
}

* body header .right-side .img-cash img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

* body header .right-side .avatarka {
  position: relative;
  padding: 15px;
}

* body header .right-side .avatarka .line {
  width: 55px;
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 0;
  border-bottom: 4px solid #6873CCFF;
}

* body header .right-side .avatarka img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

* body main {
  position: relative;
}

* body main .navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 1px 1px #f0f0f0;
          box-shadow: 2px 2px 1px 1px #f0f0f0;
  width: 100px;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 80px;
}

* body main .navbar img {
  width: 40px;
  height: 40px;
}

* body main .navbar .logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

* body main .navbar-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 45px;
}

* body main .def-width {
  max-width: 1540px;
  margin: 30px auto;
  padding: 24px;
}

* body main .def-width .wrapper {
  width: 100%;
  margin: 50px;
}

* body main .def-width .wrapper .box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}

* body main .def-width .wrapper .box-info .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 45px;
}

* body main .def-width .wrapper .box-info .left-side :first-child {
  opacity: 50%;
  color: unset;
}

* body main .def-width .wrapper .box-info .left-side :nth-child(2) {
  color: #6873CCFF;
  border-bottom: 3px solid #6873CCFF;
}

* body main .def-width .wrapper .box-info .left-side :last-child {
  opacity: 50%;
  color: unset;
}

* body main .def-width .wrapper .box-info .left-side a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}

* body main .def-width .wrapper .box-info .right-side button {
  width: 150px;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #6873CCFF;
  background-color: #6873CCFF;
  color: #fff;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

* body main .def-width .wrapper .custom-list {
  width: 100%;
}

* body main .def-width .wrapper .custom-list .heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 20px;
  background-color: #fff;
}

* body main .def-width .wrapper .custom-list .heading .customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
}

* body main .def-width .wrapper .custom-list .customer-info {
  width: 100%;
}

* body main .def-width .wrapper .custom-list .customer-info .element {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
}

* body main .def-width .wrapper .custom-list .customer-info .element .shop-name, * body main .def-width .wrapper .custom-list .customer-info .element .mail-name, * body main .def-width .wrapper .custom-list .customer-info .element .condition, * body main .def-width .wrapper .custom-list .customer-info .element .date {
  width: 100%;
  text-align: center;
}

* body main .def-width .wrapper .custom-list .customer-info .element .checkout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body main .def-width .wrapper .custom-list .customer-info .element .sort {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
}

* body main .def-width .wrapper .custom-list .customer-info .element .first-line, * body main .def-width .wrapper .custom-list .customer-info .element .second-line {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

* body main .def-width .wrapper .custom-list .customer-info .element .date .active-1 {
  width: 80px;
  height: 30px;
  border-radius: 30px;
  border: none;
  color: #6873CCFF;
  font-weight: 600;
  font-family: Gilroy;
  font-size: 16px;
  padding: 5px;
}

* body main .def-width .wrapper .custom-list .customer-info .element .date .active-2 {
  width: 80px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #F7EAEFFF;
  color: #FB7BACFF;
  font-weight: 600;
  font-family: Gilroy;
  font-size: 16px;
  padding: 5px;
}

* body main .def-width .wrapper .custom-list .customer-info .element .date .active-3 {
  width: 80px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #EFF9FAFF;
  color: #31D3E7FF;
  font-weight: 600;
  font-family: Gilroy;
  font-size: 16px;
  padding: 5px;
}

* body main .def-width .wrapper .custom-list .customer-info .element .condition .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
  margin-top: 15px;
  text-align: left;
}

* body main .def-width .wrapper .custom-list .customer-info .element .condition .time div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #31D3E7FF;
}

* body main .def-width .wrapper .custom-list .customer-info .element .condition .time .active-1, * body main .def-width .wrapper .custom-list .customer-info .element .condition .time .active-2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FB7BACFF;
}

* body main .def-width .wrapper .custom-list .customer-info .element .condition .time .active-3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: silver;
}

* body main .def-width .wrapper .custom-list input {
  width: 25px;
  height: 25px;
}

* body main .def-width .wrapper .custom-list select {
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  font-family: Gilroy;
  background-color: #F6F6F6FF;
  border: none;
}

* body main .def-width .wrapper .custom-list select option {
  font-size: 16px;
  font-weight: 500;
}

* body main .def-width .wrapper .move-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

* body main .def-width .wrapper .move-bar .left-side {
  opacity: 50%;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
}

* body main .def-width .wrapper .move-bar .left-side :first-child {
  margin-left: 15px;
}

* body main .def-width .wrapper .move-bar .left-side :nth-child(2) {
  font-weight: 700;
  opacity: 1;
  margin-right: 5px;
  color: #091ec0;
}

* body main .def-width .wrapper .move-bar .left-side :nth-child(3) {
  margin-right: 5px;
}

* body main .def-width .wrapper .move-bar .left-side :nth-child(5) {
  margin-right: 15px;
}

* body main .def-width .wrapper .move-bar .left-side :last-child {
  margin-right: 15px;
}

* body main .def-width .wrapper .right-side .total-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body main .def-width .wrapper .right-side .total-items p {
  opacity: 50%;
  font-size: 18px;
}

* body main .def-width .wrapper .right-side .total-items h3 {
  font-size: 18px;
  color: grey;
}
/*# sourceMappingURL=style.css.map */